*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    background-color: #597faa;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    width: 900px;
    height: 600px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
